<div class="bitcoin">
  <p>Bitcoin donations are powered by <a href="https://www.coinbase.io">Coinbase</a></p>
  <a class="coinbase-button" data-code="ea4982e7b3f932f791965589167cbe18" data-button-style="custom_small" data-custom="DONATE_NB_NET" href="https://www.coinbase.com/checkouts/ea4982e7b3f932f791965589167cbe18">Donate Bitcoins</a><script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>
</div>
