<h3>Top supporters</h3>

<table>
  <% top_ten_charges.each do |charge| %>
    <tr>
      <td><%= charge.donor.name %></td>
      <td><%= number_to_currency(charge.amount / 100, precision: 0) %></td>
      <td><%= sanitize charge.donor.comment %></td>
    </tr>
  <% end %>
</table>
