<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert">
    <% if value.is_a?(Array) %>
      <ul>
        <% value.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    <% else %>
      <%= value %>
    <% end %>
  </div>
<% end %>

<script type="text/html" id="notice-template">
  <div class="alert alert-{{type}}" role="alert">
    {{ content }}
  </div>
</script>
