<div class="alerts">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert">
      <% if value.is_a?(Array) %>
        <% value.each do |m| %>
          <%= m %>
        <% end %>
      <% else %>
        <%= value %>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/html" id="notice-template">
  <div class="alert alert-{{type}}" role="alert">
    {{ content }}
  </div>
</script>
