<div class="paypal">
  <p>Click any of the links below to set up a recurring donation with PayPal</p>

  <ul>
    <% standard_donation_amounts.each do |amount| %>
      <li><%= paypal_donation_link(amount) %></li>
    <% end %>
  </ul>
</div>
