<h3><strong><%= number_to_currency(total_raised / 100, precision: 0) %></strong> raised of <strong><%= number_to_currency(donation_goal / 100, precision: 0) %> goal</strong></h3>
<div class="progress">
  <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= percentage_raised %>%; min-width: 2%;"></div>
</div>
