<h3>Recent donations</h3>
<ol>
  <% recent_non_project_donations.each do |charge| %>
    <li><%= charge.donor.name %> - <%= number_to_currency(charge.amount / 100, precision: 0) %></li>
  <% end%>
</ol>
