<div class="row">
  <div class="col-md-8 col-md-offset-2 donation-header">
    <%= image_tag('noisebridge_logo.jpg', class: 'center noisebridge_logo') %>
    <h3>Noisebridge: a hacker spaceship needs your help!</h3>
  </div>

  <div class="col-md-6 col-md-offset-3 donation-form">
    <%= render "dues_form" %>
  </div>
</div>
