<div class="row">
  <div class="col-md-8 col-md-offset-2 donation-header">
    <a href="http://noisebridge.net">
      <%= image_tag('noisebridge_logo.jpg', class: 'center noisebridge_logo') %>
    </a>
    <h3>Noisebridge: a hacker spaceship needs your help!</h3>
  </div>

  <div class="col-md-6 col-md-offset-3 donation-progress">
    <%= render "progress_bar" %>
  </div>

  <div class="col-md-4 col-md-offset-2 donation-form">
    <%= render "donation_form" %>
  </div>

  <div class="col-md-4 donation-form">
    <%= render "leaderboard" %>
  </div>
</div>
