<div class="row">
  <div class="col-md-8 col-md-offset-2 donation-header">
    <%= image_tag('noisebridge_logo.jpg', class: 'center noisebridge_logo') %>
    <h3>Donate Now! Keep Noisebridge Hackerspace Alive in San Francisco!!</h3>
    <p>Keep Noisebridge Hackerspace ALIVE in San Francisco. Please donate now and sign up to make a recurring donation.</p>
    <p>Our lease ends in August and our landlord is not renewing it. We are are making an push to raise our recurring donations to 15,000 dollars per month to get a new lease on a New Space and cover expenses. We're looking at serveral options for accessible industrial spaces close to public transit, but they're all much more rent than we pay now.</p>
    <p>Any donations to Noisebridge are tax deductible as we are a 501(c)(3). Please sign up for a monthly donation, reoccuring revenue is the best way to keep us open.</p>
    <p>Also, if you, or an organization you are a part of, would like to discuss a larger donation that could help us buy a building and ensure a permanent home for Noisebridge, please get in contact with secretary@noisebridge.net!</p>
    <p>If you would like to now more about our Noiisebridge Space Program, please go to: https://www.noisebridge.net/wiki/Noisebridge_Space_Program</p>
  </div>

  <div class="col-md-6 col-md-offset-3 donation-form">
    <%= render "recurring_donation_form" %>
  </div>
</div>

