<div class="row">
  <div class="col-md-8 col-md-offset-2 donation-header">
    <%= image_tag('noisebridge_logo.jpg', class: 'center noisebridge_logo') %>
    <h3>Noisebridge: a hackerspace needs your help!</h3>
    <p>Our 2169 Mission Street lease is up in August and we're in a crunch to find a new space and increase the amount of money we have to be able to afford the new space. We need # million dollars to buy or # thousand dollars to lease a new space. Please make a donation now, and setup a recurring monthly donation, to support non-profit donation based open to the public Hacking in San Francisco.</p>
  </div>

  <div class="col-md-6 col-md-offset-3 donation-form">
    <%= render "recurring_donation_form" %>
  </div>
</div>

