<div class="row">
  <div class="col-md-8 col-md-offset-2 donation-header">
    <%= image_tag('noisebridge_logo.jpg', class: 'center noisebridge_logo') %>
  </div>

  <div class="col-md-8 col-md-offset-2 thanks">
    <h2>Thank you!</h2>
    <p>You donated! That's incredible. We're humbled and immensely thankful for your support</p>
  </div>

  <div class="col-md-8 col-md-offset-2 thanks">
    <%= image_tag("noisebridge_thanks.jpg") %>
  </div>
</div>
