<h2>Gnar is Not Audio Research</h2>

<p>Noisebridge is host to a working group called gnar. We build modular synthesizers, typically in the DIY Eurorack tradition. We do audio research in Digital Signal Processing. We have a lot of electronic music gear.</p>

<p>We have worked with internationally known hardware builders like <a href="http://moddevices.com/mod-duo">MOD Devices</a>, <a href="https://monome.org/aleph/">Monome</a> and <a href="http://bleeplabs.com/delaydelus-user-guide/">Bleep Labs.</a></p>

<p>We are looking for donations to support building a modular eurorack setup from components. We are also briding the gap between analog and digital through building custom sound cards for embedded computers which can interface with control voltage synthesizers. There is a computer music workstation which runs DSP software and composition environments. It needs a reliable audio interface which doesn't crash.</p>

<h3>Current projects</h3>

<ul>
  <li>Terminal Tedium Eurorack modular</li>
  <li>Computer Music Workstation</li>
  <li>Mod Duo</li>
  <li>MIDI to Monome Serial DIY converter</li>
</ul>

<h3>Expenses</h3>

<ul>
  <li>Cables of all kinds!</li>
  <li>Printed Circuit Boards</li>
  <li>Microcontroller dev boards</li>
  <li>SMD electronics components</li>
  <li>Computer sound cards</li>
  <li>Musical controllers</li>
  <li>Enclosures</li>
  <li>Modular faceplates</li>
</ul>
