<p>Thank you for your supporting our Kaitian <a href="http://www.kaitianlaser.com/2-cutting-engraving-machine-3.html" target="_BLANK">CM1309 Laser Cutter</a>! Noisebridge is proud to make this laser available to absolutely anyone (with training) and hundreds of artists currently use this cutter in their works around the bay.</p>

<p>But there's a catch! Operating and maintaining a 100W industrial laser is not cheap, and we depend on your donations to keep our laser beam bright and shiny. <strong>Please donate a <em>minimum</em> of $5/hour for your laser time.</strong> More is better!</p>

<p>By donating to the laser fund you are directly supporting hundreds of individual creators, and you help keep Noisebridge excellent (and open). As always, your donations to Noisebridge are tax deductible. Thank you!</p>

<div class="embed-responsive embed-responsive-4by3">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/NghQSYxLdng" frameborder="0" allowfullscreen></iframe>
</div>
