<p>Kaitian is donating a <a href="http://www.kaitianlaser.com/2-cutting-engraving-machine-3.html">CM1309 Laser Cutter</a> to Noisebridge in the coming weeks. This is a major donation, but there's a catch. We need to fundraise a bunch of money in order to get the Laser Cutter from China to Noisebridge.</p>

<p>Noisebridge needs to raise $6000 to pay for import tax, shipping, warranty, air compressor, peripheral components, and construction components.</p>

<p>Our goal is to raise this money by Friday March 18th. If we have $4000 by then, we can trigger the import process and raise the remaining $2000 over the next few weeks.</p>

<p>Please donate a boatload of money!</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/AkmEQjlALn8" frameborder="0" allowfullscreen></iframe>
