<h2>&amp;nbsp; - Noisebridge Space Program</h2>

<p>Noisebridge is going to level up in 2018, moving to a new, bigger space! Ideally we'd like to buy a new space, but whether we buy or lease, we need lots of money, both for the moving costs and the real estate itself. So why not help out your friendly local hackerspace! :)</p>

<p>You can read the full call to action for funding <a href="https://noisebridge.net/wiki/FundraisingCall">here</a>.</p>

<p>Notes on the process we're going through in the Noisebridge Space Program are <a href="https://noisebridge.net/wiki/Noisebridge_Space_Program">here</a>.
