<p>We recently got three banks of used lockers, adding twenty-three individual lockers to Noisebridge.  Until a few years ago these were the personal lockers of taxi drivers at the De Soto Cab Cooperative down in Pacifica. They bear the scars, grafitti, stickers and patina of those times.</p>

<p>The lockers cost $150 to purchase and transport.  Please help reimburse with your donation.</p>

<p>Two banks hold ten lockers apiece and are about the same size as the existing lockers.  The third bank contains three tall lockers which are perfect for storing your super-suit and a change of street clothes.</p>

<p><a href="https://noisebridge.net/wiki/File:DeSotoCabLockers_20170605_185841-sm.jpg">
  <img src="https://noisebridge.net/images/b/b3/DeSotoCabLockers_20170605_185841-sm.jpg"  width="410" height="540" />
</a></p>

<p><a href="https://noisebridge.net/wiki/File:DeSotoCabLockers_20170605_153355-sm.jpg">
  <img src="https://noisebridge.net/images/a/a4/DeSotoCabLockers_20170605_153355-sm.jpg"  width="510" height="540" />
</a></p>
