<p><b>NEW LOCKERS!!! Yay! More places for more people to stow their projects.</b></p>

<p>We got three banks of used lockers on 6/5/17, adding twenty-three individual lockers to Noisebridge.  TWENTY THREE!!?!!  Twenty three more places for people to stash their projects, worry-free!</p>

<p>The lockers cost $150 to buy and move.  Please help reimburse with your donation!!</p>

<p>Two banks have ten lockers apiece, and they're about the same size as the existing lockers.  The third bank contains three tall lockers, which are perfect for storing your supersuit and a change of street clothes.</p>

<p><a href="https://noisebridge.net/wiki/File:DeSotoCabLockers_20170605_185841-sm.jpg">
  <img src="https://noisebridge.net/images/b/b3/DeSotoCabLockers_20170605_185841-sm.jpg"  width="410" height="540" />
</a></p>

<p><a href="https://noisebridge.net/wiki/File:DeSotoCabLockers_20170605_153355-sm.jpg">
  <img src="https://noisebridge.net/images/a/a4/DeSotoCabLockers_20170605_153355-sm.jpg"  width="510" height="540" />
</a></p>

<p>Until a few years ago these were the personal lockers of taxi drivers at the De Soto Cab Cooperative down in Pacifica. They bear the scars, grafitti, stickers and patina of those times.</p>
