<div class="row">
  <div class="col-md-8 col-md-offset-2 donation-header">
    <a href="http://noisebridge.net">
      <%= image_tag('noisebridge_logo.jpg', class: 'center noisebridge_logo') %>
    </a>
    <h3>Noisebridge: a hacker spaceship needs your help!</h3>
  </div>

  <div class="col-md-4 col-md-offset-4 donation-form">
    <table class="table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @project_totals.each do |project, amount| %>
          <tr>
            <td><%= project.titleize %></td>
            <td><%= number_to_currency(amount / 100.0) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
