/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

//= require bootstrap
//= require_tree .

// Google fonts
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

body {
  font-family: 'Bitter', serif;
}

// main container body
.container {
  margin: 30px 0px;
}

.donation-header {
  font-family: 'Bitter', serif;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  h3 {
    font-weight: bold;
  }

  .noisebridge_logo {
    width: 120px;
  }
}

.donation-progress {
  h3 {
    font-family: 'Bitter', serif;
    text-align: center;
  }

}

.footer {
  text-align: center;

  p.meta {
    color: #6F6F6F;
  }
}

/* Responsive design tweaks */

/* Narrow */
@media only screen and (max-width: 480px) {
  .container {
    max-width: 400px;
  }

  .donation-header {
    flex-direction: column;
    text-align: center;

    .noisebridge_logo {
      width: 80px;
    }
  }
}
/* Medium */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .container {
    max-width: 800px;
  }

  .donation-header {
    flex-direction: column;
    text-align: center;

    .noisebridge_logo {
      width: 100px;
    }
  }

}
