<!DOCTYPE html>
<html>
<head>
  <title>Noisebridge - <%= @title || "Donate" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= favicon_link_tag %>

  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.1/jquery.payment.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script type="text/javascript">
    Stripe.setPublishableKey("<%= Rails.application.secrets.stripe_api_key %>");
  </script>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

  <div class="container footer">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p><%= github_link %> is released under the terms of the <%= license_link %></p>
        <p class="meta">running: <%= current_version_link %></p>
      </div>
    </div>
  </div>

</body>
</html>

